@font-face {
    font-family: 'NeueHaasDisplay-Mediu' ;
    src: url('font/64d3dd9edfb41666c35b15bf_NeueHaasDisplay-Mediu\ \(2\).ttf');
}
@font-face {
    font-family: 'NeueHaasDisplay-Roman' ;
    src: url('font/64d3dd9edfb41666c35b15c0_NeueHaasDisplay-Roman.ttf');
}
@font-face {
    font-family: 'NeueHaasDisplay-light' ;
    src: url('font/NeueHaasDisplayLight.ttf');
}

:root{
    --font-color:#000000;
    --greyFont-color:#777E90;
    --base-color:#F1F5F5;
    --primary-color:#3E5CB8;
    --accent1-color:#E98B6D;
    --accent2-color:#FFCEA2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'NeueHaasDisplay-Mediu';
    color: var(--font-color);
}

body{
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar{
    display: none;
}


#main{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.section-1{
    width: 100%;
    min-height: 100vh; 
}

.nav-bar{
    width: 100%;
    height: 7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vw;

}

.logo {
    width: 20%;
    line-height: 1.566rem;
    cursor: pointer;
}

.logo h1{
    font-size: 2.6rem;
}

.logo p{
    font-size: 0.8rem;
    color: var(--greyFont-color);
}

.main-nav{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-nav a{
    text-decoration: none;
    color:var(--greyFont-color);
    font-size: 1rem;
    font-weight: 800;
    transition: ease 0.1s;
    padding-bottom: 0.6rem;
}

.main-nav a:hover{
    color: var(--font-color);
    border-bottom: 2px solid var(--font-color);
}

.nav-right{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-btn{
    width: 10vw;
    height: 3vw;
    border-radius: 2vw;
    outline: none;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 900;
    letter-spacing: 0.05rem;
    cursor: pointer;
}

.hero{
    width: 100%;
    min-height: 100vh;
    padding: 1vw 8vw;
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

.hero-info{
    width: 100%;
    height: 20%;
    /* background-color: rebeccapurple; */

}

.hero-info h1{
    text-transform: capitalize;
    font-family: 'NeueHaasDisplay-Roman';
    font-size:4rem;
    text-align: center;
}

.hero-bg{
    position: relative;
    background: url('asset/guillaume-galtier-3YrppYQPoCI-unsplash.jpg');
    /* background-position: cover; */
    /* margin-top: 3vw; */
    width: 100%;
    height: 40%;
    text-align: center;
    padding: 13vw 15vw;
    border-radius: 13vw;
}
.hero-bg img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 58vw;
}

.hero-content{
    border: 1px solid rgba(121, 121, 121, 0.438);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3vw 5vw;
    gap: 4vw;
    border-radius:2vw;
    margin-bottom: 6vw;
}

.flight-class{
    background-color: #ece9e9b6;
    width: 40vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius:1.2vw;
    margin-bottom: 2vw;
    
}

.flight-class h3{
    color: var(--greyFont-color);
    cursor: pointer;
}
.flight-class h3:nth-child(2){
    background-color: var(--primary-color);
    color: var(--base-color);
    cursor: pointer;
    padding: 0.8rem 3rem;
    border-radius: 2vw;
}

.flight-details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}

.details{
    display: flex;
    align-items: center;
    gap: 1vw;
    cursor: pointer;
}

.details .icon{
    background-color: #ece9e9b6;
    border-radius: 40%;
    padding: 0.5vw;
}

.details i{
    font-size: 1.5rem;
}

.details h2{
    font-size: 1.2rem;
}

.details p{
    font-size: 1rem;
    color: var(--greyFont-color);
    font-weight: 100;
}

.search-btn{
    background-color: var(--primary-color);
    padding: 1vw 0.8vw;
    border-radius: 40%;
    cursor: pointer;
}

.search-btn i{
    color: var(--base-color);
}

.section-2{
    width: 100%;
    min-height: 100vh;
}

.section-2-heading{
    width: 100%;
    height: 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.section-2-heading h4{
    text-transform: uppercase;
    letter-spacing: 0.6rem;
}

.section-2-heading h1{
    font-size: 5rem;
}
.section-2-heading p{
    margin-top: 0.5rem;
    font-size: 1.3rem;
    font-family: 'NeueHaasDisplay-Roman';
    font-weight: 200;
    color: var(--greyFont-color);
}

.section-2-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section2-left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 1rem;
}



.section-2-info{
    width: 69%;
    padding: 1vw;
}

.number{
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    width: 3rem;
    background-color: var(--primary-color);
    color: var(--base-color);
    text-align: center;
    margin-bottom: 1.4rem;
}

.section-2-info:nth-child(2) .number{
    background-color: var(--accent1-color);
}
.section-2-info:nth-child(3) .number{
    background-color: var(--accent2-color);
}

.section-2-info h4{
    font-size: 1.8rem;
    margin-bottom: 1rem ;
}

.section-2-info p{
    color: var(--greyFont-color);
    font-family: 'NeueHaasDisplay-Roman';
    font-weight: 200;
}
.section2-right{
    position: relative;
    width: 50%;
    height: 100%;
    /* background-color: rgb(173, 217, 255); */
    display: flex;
    padding-left: 2vw;
}
.section2-right .img{
    /* position: absolute; */
    width: 20vw;
    height: 30vw;
    border-radius: 10rem;
    background-color: var(--primary-color);
}

.section2-right .img1{
    z-index: 3;
    width: 17vw;
    height: 30vw;
    background: url('asset/chad-peltola-Rch8oP-O5sU-unsplash.jpg');
    background-size: cover;
    /* border: 1rem solid #fff; */
}
.section2-right .img2{
    z-index: 2;
    margin-left: -5rem;
    margin-top: -7rem;
    background: url('asset/ross-parmly-rf6ywHVkrlY-unsplash.jpg');
    background-size: cover;
}
.section2-right .img3{
    margin-left: -8rem;
    margin-top: 8rem;
    width: 15vw;
    height: 20vw;
    background: url('asset/tom-barrett-M0AWNxnLaMw-unsplash.jpg');
    background-size: cover;
}

.section-3{
    width: 100%;
    min-height: 100vh; 
    padding: 5vw 8vw;
    background-color: var(--base-color);
    background-color: rgb(242, 248, 248);
}

.section3-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 5vw;
}

.section3-header h1{
    width: 80%;
    font-size: 5vw;
    line-height: 4vw;
}

.section3-header .sec3-btn{
    width: 10vw;
    height: 4vw;
    background-color: transparent;
    border: 2px solid var(--greyFont-color);
    outline: none;
    border-radius: 3rem;
    font-size: 1rem;
    cursor: pointer;
}

.section3-content-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section3-content{
    width: 30%;
    height: 60%;
    padding: 8vw 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    border-radius: 10rem;
    background-color: #fff;
    /* box-shadow: 0.2px 0.2px 50px var(--greyFont-color); */
}

.circle{
    width:8vw;
    height: 8vw;
    padding: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-color: var(--primary-color);
}

.section3-content:nth-child(2) .circle{
    background-color: var(--accent1-color);
}
.section3-content:nth-child(3) .circle{
    background-color: var(--accent2-color);
}

.section3-content h4{
    font-size: 2rem;
}
.section3-content p{
    font-size: 1rem;
    text-align: center;
    font-family: 'NeueHaasDisplay-Roman';
    font-weight: 200;
    color: var(--greyFont-color);
    line-height: 1.5rem;
}

.section-4{
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding-top: 8vw;
    /* align-items: center; */
    justify-content: space-around;
    
}

.sec4-left{
    width: 45%;
    height: 100%;
    display: flex;
    padding-left: 2rem;
}

.sec4-img{
    width: 25vw ;
    height: 36vw;
    border-radius: 15vw;
}

.sec4-img1{
    background: url('asset/hanson-lu-FT2WwbS1LJQ-unsplash.jpg');
    background-size: cover;
    /* margin-left: 30%; */
}
.sec4-img2{
    background: url('asset/lukas-souza-5KRFOTnpnnY-unsplash.jpg');
    background-position: center;
    background-size: cover;
    width: 19vw ;
    height: 27vw;
    margin-left: -26%;
    margin-top: 30%;

}

.sec4-right{
    width: 55%;
    height: 100%;
    padding-right: 3vw;
}

.sec4-heading{
    width: 100%;
}
.sec4-heading h1{
    font-size: 5rem;
    margin-bottom: 2vw;
}

.sec4-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.sec4-content-info{
    width: 40%;
    margin: 2vw 2vw 2vw 0;
}

.sec4-content-info p{
    margin-top: 1vw;
    color: var(--greyFont-color);
    line-height: 1.6rem;
}

@media (max-width:1300px) {
    .section-2-heading h1{
        font-size: 4.2rem;
    }
    
    .sec4-heading h1 {
    font-size: 4rem;
    margin-bottom: 2vw;
}

.logo h1{
    font-size: 2rem;
}

.logo p{
    font-size: 0.6rem;
}

.logo {
    line-height: 1.2rem;
}

.section3-content h4 {
    font-size: 1.5rem;
}
}


@media (max-width:950px) {
    .section-2-heading h1{
        font-size: 3.8rem;
    }
    
    .sec4-heading h1 {
    font-size: 4rem;
    margin-bottom: 2vw;
}

.section-2-heading p{
    margin-top: 0;
    font-size: 1rem;
}

.logo h1{
    font-size: 1.8rem;
}

.logo p{
    font-size: 0.5rem;
}

.logo {
    line-height: 1rem;
}

.flight-class h3:nth-child(2){
    padding: 0.5rem 3rem;
}


.details i{
    font-size: 1.3rem;
}

.details h2{
    font-size: 1rem;
}

.details p{
    font-size: 0.8rem;
}

.section2-right .img3 {
    margin-left: -6rem;
    margin-top: 5rem;
}

.section2-right .img1 {
    width: 22vw;
    height: 34vw;
}

.section-2-info h4 {
    font-size: 1.5rem;
}

.section-2-info p {
    font-size: 0.9rem;
}

.section3-content h4 {
    font-size: 1.3rem;
}

}


@media (max-width:850px) {

    .hero-info h1 {
        font-size: 3rem;
    }
    .section-2-heading h1{
        font-size: 3.2rem;
    }
    
  
.logo h1{
    margin-top: 2vw;
}

.logo p{
    font-size: 0.5rem;
}

.logo {
    line-height: 1rem;
}

.flight-class h3:nth-child(2){
    padding: 0.5rem 3rem;
}


.details i{
    font-size: 1.3rem;
}

.details h2{
    font-size: 1rem;
}

.details p{
    font-size: 0.8rem;
}

.section2-right .img3 {
    margin-left: -6rem;
    margin-top: 5rem;
}

.section2-right .img1 {
    width: 22vw;
    height: 34vw;
}

.section-2-info h4 {
    font-size: 1.5rem;
}

.section-2-info p {
    font-size: 0.9rem;
}

.section3-content h4 {
    font-size: 1.3rem;
}

.sec4-heading h1 {
    font-size: 4rem;
}


}






